body {
    font-family: sans-serif, serif;
    margin: 0px;
    padding: 0px;
    background-color: #0b0b0b;
    color: #dba622
}

.center-text {
    text-align: center;
}

.answers {
    border: 3px solid black;
    height: 30vh;
}
button {
    background-color: 	#670404;
}

.questions-card {
    border: 3px solid black;
    height: 20vh;
}

.card { 
    border: 3px solid black;
    height: 30vh;
    display: none;
}

