body {
    font-family: sans-serif, serif;
    margin: 0px;
    padding: 0px;
    background-image: url(../media/images/smoke-on-black.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #dba622;
}

.center-text {
    text-align: center;
}

.answers {
    padding: 60px;
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 1);
}

.dif-container {
    display: block;
}

button {
    background-color: rgba(219, 166, 34, 0.7);
    font-weight: 600;
}

.questions-card {
    background-color: rgba(43, 43, 42, 0.04);
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 1);
}

.card { 
    min-height: 30vh;
    display: none;
    background-color: rgba(43, 43, 42, 0.04);
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 1);
}

.answer-btn {
    font-weight: 600;
    height: 10vh;
    width: 20vw;
    margin-top: 5px;
    background-color: rgba(219, 166, 34, 0.7);
    white-space: normal;
    padding: 1px;
}

#answer-card {
    min-height: 350px;
    background-image: url(../media/images/The-Wheel-of-Time-2.jpg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

