body {
    font-family: sans-serif, serif;
    margin: 0px;
    padding: 0px;
}

.answers {
    border: 3px solid black;
    height: 30vh;
}

.questions-card {
    border: 3px solid black;
    height: 20vh;
}

.selected {
    background-color: blue;
}

.card { 
    border: 3px solid black;
    height: 30vh;
    display: none;
}

